In [23]:
%run helpers.py
%run helpers-Copy1.py
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

### Explanation

In this section i will be attempting to try and predict salary based on other features such as title, locations etc

I will be creating dummies out of those features and applying two models to better understand which feature best predicts salary

The two Models are Linear Regression and Decision Trees

In [24]:
from collections import Counter

from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor


from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [25]:
# loading up both the cleaned data and the dummies:
dummies=pd.read_excel('./dummies.xls')
data=pd.read_excel('./cleaned.xls')

In [26]:
data.columns

Index([u'area', u'class', u'company', u'date', u'description', u'job_id',
       u'level', u'location', u'salary', u'sub_class', u'title', u'type'],
      dtype='object')

In [27]:
print data.shape
print data.info()
data.reset_index(drop=True,inplace=True)
data.head()

(4335, 12)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4335 entries, 0 to 6125
Data columns (total 12 columns):
area           4335 non-null object
class          4335 non-null object
company        4335 non-null object
date           4335 non-null datetime64[ns]
description    4335 non-null object
job_id         4335 non-null int64
level          4335 non-null object
location       4335 non-null object
salary         4335 non-null int64
sub_class      4335 non-null object
title          4335 non-null object
type           4335 non-null object
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 440.3+ KB
None

,area,class,company,date,description,job_id,level,location,salary,sub_class,title,type
0,Southern Suburbs & Logan,Information & Communication Technology,Opus Recruitment Solutions,2017-12-21,DATA SCIENCE SUPERSTARS\r\n\r\nMODERN OFFICES\...,35131268,normalJob,Sydney,384,Database Development & Administration,Data Science Leads,Full Time
1,North Shore & Northern Beaches,Information & Communication Technology,Spark Recruitment,2017-12-21,Take ownership for the strategic development o...,35130098,normalJob,Sydney,576,Product Management & Development,Product Manager - Big Data / Data Analytics,Full Time
2,"CBD, Inner West & Eastern Suburbs",Information & Communication Technology,2XM Technology Pty Ltd,2017-12-21,Data Solution Architect required to work on a ...,35129596,normalJob,Sydney,615,Architects,Big Data Solution Architect,Full Time
3,CBD & Inner Suburbs,Engineering,Employment Office,2017-12-21,Are you an experienced Surveyor looking for an...,35131526,normalJob,Melbourne,269,Project Engineering,Surveyor Data Manager,Full Time
4,CBD & Inner Suburbs,Engineering,Employment Office,2017-12-21,Are you an experienced Surveyor looking for an...,35131487,normalJob,Melbourne,269,Civil/Structural Engineering,Surveyor Data Manager,Full Time

In [28]:
print dummies.shape
print dummies.info()
dummies.head()

(4335, 103)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4335 entries, 0 to 4334
Columns: 103 entries, class_Accounting to area_Western Suburbs & Ipswich
dtypes: int64(103)
memory usage: 3.4 MB
None

,class_Accounting,class_Administration & Office Support,"class_Advertising, Arts & Media",class_Banking & Financial Services,class_CEO & General Management,class_Call Centre & Customer Service,class_Community Services & Development,class_Construction,class_Consulting & Strategy,class_Design & Architecture,...,area_Northern Suburbs,area_Northern Suburbs & Joondalup,area_Parramatta & Western Suburbs,area_Rockingham & Kwinana,area_Ryde & Macquarie Park,area_South West & M5 Corridor,area_Southern Suburbs & Logan,area_Southern Suburbs & Sutherland Shire,area_Western Suburbs,area_Western Suburbs & Ipswich
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Dummy Creation

I am going to use the dummies that already exist and creat two new dummies:

1)First i am going to make a dummy for data science title/roles and make it my 'y'/target variable because this is what we want
predict and understand what feature can helps determine a data science role/title

2)Secondly i am going to creat a dummy of description and add it back to the dummies for modelling and analysis the reason i didn't add in the previous section when making the dummies file is because i want to be able to tweak it and see which variation of description gives the best results

In [29]:
#using these to get rid of unnecessary elements
letters=string.letters
numbers=string.digits
elements=string.punctuation

In [30]:
import unicodedata

from nltk.stem.lancaster import LancasterStemmer#Stemmer to stem the words
lan_stem = LancasterStemmer()

lem=[]
for item in data['title']:
    r=unicodedata.normalize('NFKD', item).encode('ascii','ignore')#converting unicode to string
    lemm=r.split(' ')#splitting each string into individual words
    for n,it in enumerate(lemm):
        # removing the punctuation and numbers
        all=string.maketrans('','')
        noelements=it.translate(all, elements)
        lemm[n]=lan_stem.stem(noelements.lower())

    str_list = filter(None, lemm)#removing empty spaces from each list
    lem.append(str_list)

#joining them back together after stemming and cleaning    
for n,item in enumerate(lem):
    str1 = ' '.join(item)
    lem[n]=str1
    
data['title_2']=lem#equating it to a new column in the dataframe

In [37]:
from sklearn.feature_extraction.text import CountVectorizer

#Setting the vectorizer just like we would set a model which will remove useless words
#and will look for pairs of words in each value
cvec = CountVectorizer(stop_words = "english",ngram_range=(2,2))

#Fitting the vectorizer on title_2 our stemmed titles
cvec.fit(data['title_2'])

#making a dataframe out of it
X_train = pd.DataFrame(cvec.transform(data["title_2"]).todense(),
                     columns = cvec.get_feature_names())

words_counts = X_train.sum(axis=0)
print words_counts.sort_values(ascending = False)['dat sci']#number of data science titles which is very small
print words_counts.sort_values(ascending = False).head()

26
busy analyst    184
project man      91
busy develop     87
man account      84
develop man      82
dtype: int64

In [32]:
# this is all the data science title dummies 
y=X_train['dat sci']

### Description column cleaning to make a dummy

In [38]:
#Exactly like Title_2 but slightly different in the ngram_range

lem2=[]
for item in data['description']:
    r=unicodedata.normalize('NFKD', item).encode('ascii','ignore')
    lemm=r.split(' ')
    for n,it in enumerate(lemm):
        all=string.maketrans('','')
        noelements=it.translate(all, elements)
        lemm[n]=lan_stem.stem(noelements.lower())

    str_list = filter(None, lemm)
    lem2.append(str_list)

for n,item in enumerate(lem2):
    str1 = ' '.join(item)
    lem2[n]=str1
    
data['description_2']=lem2

In [41]:
from sklearn.feature_extraction.text import CountVectorizer

#Setting the vectorizer just like we would set a model and looking for single words
cvec = CountVectorizer(stop_words = "english",ngram_range=(1,1))

#Fitting the vectorizer on the cleaned description data
cvec.fit(data['description_2'])

#making a dataframe
D_train = pd.DataFrame(cvec.transform(data["description_2"]).todense(),
                     columns = cvec.get_feature_names())

#adding a prefix to make it easier to differentiate between the dummies
D_train=D_train.add_prefix('word_')

words_counts = D_train.sum(axis=0)
words_counts.sort_values(ascending = False).head(10)

word_opportun    940
word_join        862
word_man         822
word_team        792
word_expery      748
word_work        739
word_lead        709
word_busy        701
word_rol         693
word_ar          554
dtype: int64

##### Adding the description dummy dataframe to dummies(which i loaded up)

In [42]:
dummies=pd.concat([dummies,D_train,data.salary],axis=1)

In [43]:
dummies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4335 entries, 0 to 4334
Columns: 3891 entries, class_Accounting to salary
dtypes: int64(3891)
memory usage: 128.7 MB

In [46]:
# dropping these words because theyu will skew the models heavily and because we are search for data science related terms
dropping=['word_dat','word_sci']
dummies.drop(dropping, axis = 1, inplace = True)

In [47]:
# dummies.drop(['salary'],axis=1,inplace =True)

In [48]:
dummies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4335 entries, 0 to 4334
Columns: 3889 entries, class_Accounting to salary
dtypes: int64(3889)
memory usage: 128.7 MB

# Modelling

### Upsampling

After checking the number of 1s(26) and 0s(4309) clearly there is a class balance issue which is why the baseline is at 0.99

So before any Modelling i will be Upsampling the Y-variable and X-Variable/Predictors(dummies) in order to remove the class imbalance. The reasoning behind this is beacuse we want to determine what features have impact in determining the role/title of data science. not to predict perse

In [55]:
baseline=1-np.mean(y)
print baseline
print y.value_counts()

0.994002306805
0    4309
1      26
Name: dat sci, dtype: int64

In [52]:
# checking to see if the len is the same which it is and should be:
print len(y)
print len(dummies)

4335
4335

In [59]:
#I'm going to add the Y and X(dummies) together because it is the easiest way to upsample
#concatenating them along the columns
dummies=pd.concat([dummies,y],axis=1)

In [60]:
dummies['dat sci'].value_counts()

0    4309
1      26
Name: dat sci, dtype: int64

In [69]:
#All the code here was stright up copied from the resampling website you showed me and i understand exactly what it is doing

from sklearn.utils import resample
#dividing the 0s and 1s of ['dat sci'](data science) into seperate dataframes to upsample the 1s(minority)
df_majority = dummies[dummies['dat sci']==0]

df_minority = dummies[dummies['dat sci']==1]

# Upsampling minority (1s)class by the same amount same the majority(0s)
df_minority_upsampled = resample(df_minority, 
                                 replace=True,     # sample with replacement
                                 n_samples=4309,    # to match majority class
                                 random_state=123)

#recombining the upsampled class with the majority (along the index) and now both classes(0s and 1s) should be the same number
df_upsampled = pd.concat([df_majority, df_minority_upsampled], axis=0)
df_upsampled.reset_index(drop=True,inplace=True)

In [70]:
print df_upsampled.shape
print df_upsampled.info()

(8618, 3890)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8618 entries, 0 to 8617
Columns: 3890 entries, class_Accounting to dat sci
dtypes: int64(3890)
memory usage: 255.8 MB
None

In [71]:
#checking the upsampled baseline 
baseline=1-np.mean(df_upsampled['dat sci'])
print baseline
print df_upsampled['dat sci'].value_counts()

0.5
1    4309
0    4309
Name: dat sci, dtype: int64

### Modelling using Logistic Regression

In [100]:
lr = LogisticRegression()

X = df_upsampled.drop('dat sci', axis=1)
y = df_upsampled['dat sci']

In [101]:
model = lr.fit(X, y)

In [102]:
# Predict on training set
prediction = model.predict(X)
 
# How's our accuracy without cross validation
print accuracy_score(y, prediction)

0.999071710374

In [103]:
#Predicting using cross validation of 5 
predictions = cross_val_predict(lr, X, y,cv=5)
score  =  cross_val_score(lr, X, y,cv=5)

print score
print accuracy_score(y, predictions)

[ 0.98491879  0.99767981  0.99767981  0.99825986  0.99883856]
0.995474588071

In [ ]:
from collections import Counter

#to see how many columns have the same coefficients:
print len(model.coef_)-len(Counter(model.coef_).keys())

In [104]:
#creating a dateframe for the coefficients and there X predictors:
# and sorting them to see which is the most impactful
logic_coef=pd.DataFrame(model.coef_,columns=X.columns)
logic_coef=logic_coef.abs()
logic_coef.sum().sort_values(ascending=False)[:10]

word_divid                     2.034905
word_onsit                     1.876597
word_fund                      1.831387
word_telecommun                1.769817
word_machin                    1.767477
word_problem                   1.760585
word_seen                      1.748971
word_bree                      1.747193
class_Consulting & Strategy    1.746536
word_insight                   1.644414
dtype: float64

In [105]:
# creating a confusion matrix give to me by yourself and i do understand how it works
from sklearn.metrics import confusion_matrix
my_matrix = np.array(confusion_matrix(y, predictions, labels=[1,0]))
my_confusion_matrix = pd.DataFrame(my_matrix, index=['actual 1', 'actual 0'], columns=['predicted 1', 'predicted 0'])
my_confusion_matrix

          predicted 1  predicted 0
actual 1         4309            0
actual 0           39         4270

### Modelling with Decision Trees

In [106]:
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor

X = df_upsampled.drop('dat sci', axis=1)
y = df_upsampled['dat sci']


# criterion: splitting decision function (discussed later), can be 'gini' or 'entropy'
# max_depth: the maximum number of hierarchical decision nodes (how "deep" the tree is built)

classifier = DecisionTreeClassifier(criterion='gini',
                                    max_depth=None)

regressor = DecisionTreeRegressor(criterion='mse',
                                  max_depth=5)

#REGRESSION
# regress= regressor.fit(X, Y)

# Y_pred = regress.predict(X)
# score  =  regress.score(X, y)


#CLASSIFICATION
classer= classifier.fit(X, y)

Y_pred = classer.predict(X)
score  =  classer.score(X, y)


# decision trees can give us feature importances. the higher the number the more important
feature_importances = classer.feature_importances_

In [ ]:
from collections import Counter

#to see how many columns have the same coefficients:
print len(feature_importances)-len(Counter(feature_importances).keys())

In [114]:
#creating a dateframe for the coefficients and there X predictors:
# and sorting them to see which is the most impactful
trees_coef=pd.DataFrame([feature_importances], columns=X.columns)
trees_coef=trees_coef.abs()
trees_coef.sum().sort_values(ascending=False).head(10)

salary                                          0.284603
class_Accounting                                0.114373
class_Consulting & Strategy                     0.077434
word_correl                                     0.074069
word_bree                                       0.070579
class_Information & Communication Technology    0.063492
word_insight                                    0.051059
word_analyst                                    0.021768
class_Construction                              0.018238
word_work                                       0.011265
dtype: float64

In [115]:
# creating a confusion matrix give to me by yourself and i do understand how it works
from sklearn.metrics import confusion_matrix
my_matrix = np.array(confusion_matrix(y, Y_pred, labels=[1,0]))
my_confusion_matrix = pd.DataFrame(my_matrix, index=['actual 1', 'actual 0'], columns=['predicted 1', 'predicted 0'])
my_confusion_matrix

          predicted 1  predicted 0
actual 1         4309            0
actual 0            0         4309

## Conclusion

Both models are excellent in classifying and determining whether a particular role is a data science role or not based on the features fed into it
However the goal which is to the determine the factors/ features that make a data science role a data science role and clearly from the previous code output we can see that salary and certain other features are heaviest in determining a data science role
therefore these features are important especially if one wants to know whether a particulat role is a data science role or not

i actually realise how this working now and am happy with my results

Thank you Lauren this was actually a pretty damn good project